fastapi==0.119.0
faiss-cpu==1.13.0
litellm==1.78.7
mcp==1.18.0
numpy==1.26.4
ollama==0.6.0
openai==2.6.1
psutil==6.1.0
pypdf==6.2.0
python-docx==1.2.0
python-dotenv==1.2.1
requests==2.32.5
sentence-transformers==5.1.2
torch
uv
uvicorn==0.38.0
beautifulsoup4==4.14.2
prometheus-client==0.23.1
google-generativeai
google-auth-oauthlib
google-api-python-client
google-cloud-aiplatform
